/* frontend/src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f7f6; /* Hafif gri, şık bir arka plan */
}

/* React'in içine yerleştiği ana kutunun ekranı tam kaplamasını sağlar */
#root {
  width: 100%;
  min-height: 100vh;
}